body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container img {
    width: 100px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 2rem;
    margin-left: 10px;
}


/* Cart Modal styles */
.cart-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart-modal-content {
    max-width: 400px;
    text-align: center;
}

.cart-modal ul {
    list-style-type: none;
    padding: 0;
}

.cart-modal li {
    margin: 10px 0;
}

.checkout-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.checkout-btn:hover {
    background-color: #34495e;
}

#viewCart {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#viewCart:hover {
    background-color: #2980b9;
}

.checkout-form {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form h2 {
    text-align: center;
    color: #333;
}

.checkout-form label {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
}

.checkout-form input, .checkout-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
